a {
  text-decoration: none;
  cursor: pointer !important;

  @include themed() {
    color: t('text');
  }

  &:hover {
    @include themed() {
      color: t('info');
    }
  }
}

blockquote {
  padding: 0 1em;

  @include themed() {
    color: t('primary-light');
  }
}

p {
  line-height: 1.9em;
}
