$themes: (
  light: (
    black: $my-black,
    white: $my-white,
    text: $my-black,
    bg: $my-white,
    accent: $my-accent,
    primary: $my-primary,
    primary-light: $my-primary-light,
    primary-lighter: $my-primary-lighter,
    info: $info,
    shadow: $shadow--lightmode,
    border: 1px solid $my-black,
    alert: $warning,
    success: $success,
    warning: $warning,
    danger: $danger,
  ),
  dark: (
    black: $my-black,
    white: $my-white,
    text: $my-white,
    bg: $my-black,
    accent: $my-accent,
    primary: $my-primary-lighter,
    primary-light: $my-primary-light,
    primary-lighter: $my-primary,
    info: $info,
    shadow: $shadow--darkmode,
    border: 1px solid $my-white,
    alert: $warning,
    success: $success,
    warning: $warning,
    danger: $danger,
  ),
);

$theme-map: ();

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: ();
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
